services:
  node_exporter:
    image: quay.io/prometheus/node-exporter:v1.9.1
    volumes:
      - /:/host:ro,rslave
    restart: unless-stopped
    network_mode: host
    command: --path.rootfs=/host --collector.systemd --collector.systemd.unit-whitelist="(xrdp).service"
  
  dcgm_exporter:
    image: nvcr.io/nvidia/k8s/dcgm-exporter:4.4.1-4.5.2-distroless
    container_name: dcgm_exporter
    restart: always
    ports:
      - 9400:9400
    cap_add:
    - SYS_ADMIN
    deploy:
      resources:
        reservations:
          devices:
            - driver: nvidia
              count: all
              capabilities: [gpu]

  # label_studio_segment_anything_model:
  #   container_name: label_studio_segment_anything_model
  #   image: heartexlabs/label-studio-ml-backend:sam-master
  #   build:
  #     context: .
  #     shm_size: '4gb'
  #     args:
  #       TEST_ENV: ${TEST_ENV}
  #   deploy:
  #     resources:
  #       limits:
  #           memory: 8G
  #       reservations:
  #           memory: 4G
  #           devices:
  #             - driver: nvidia
  #               count: 1
  #               capabilities: [gpu]
  #   environment:
  #     # This is not accessible outside of the container network.
  #     # We probably do not need auth.
  #     - BASIC_AUTH_USER=
  #     - BASIC_AUTH_PASS=
  #     - SAM_CHOICE=MobileSAM
  #     - LOG_LEVEL=DEBUG
  #     - NVIDIA_VISIBLE_DEVICES=all
  #     - WORKERS=1
  #     - THREADS=8
  #     - MODEL_DIR=/data/models

  #     # Since we are not going through Caddy, this should be http.
  #     - LABEL_STUDIO_HOST=http://label-studio:8080
  #   env_file:
  #     - .secrets/segment_anything.env

  blackbox_exporter:
    image: quay.io/prometheus/blackbox-exporter:v0.27.0
    container_name: blackbox_exporter
    volumes:
      - ./blackbox-exporter:/config:ro
    command: --config.file=/config/blackbox.yml
    ports:
      - 9115:9115
    dns: 8.8.8.8

secrets:
  grafana_e4eadmin_password:
    file: .secrets/gf_admin_password.txt
